/*
 *      Style Sheet - Responsive Image Carousel
 *      Corey Savage 
 */
 

 /*   HTML5 display definitions     */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/*    Colors    */

:root {
  --blue: #448aff;
  --red: #EA626E;
  --green: #5CEBB5;
  --purple: #D58CDC;
  --orange: #FFD77E;
  --grey: rgba(175,175,175,.75);
  --grey_text: rgba(175,175,175,.9);
  --white_text: rgba(255,255,255,.75);
  --overlay: rgba(15,15,15,.6);
  --border: rgba(0,0,0,.25);
  --black: rgba(0,0,0,.6);
}

/*    Page Formatting - NOT NEEDED IF COPIED    */

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--red);
}

.page_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*    
 *    Image Carousel    
 */

#image_display_flexbox, #image_display, #display_container, #carousel_button_container, .image_container, .image_select {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image_display, #carousel {
    background-color: var(--overlay);
    border: 1px solid var(--border);
}

#image_display_flexbox {
    flex-basis: 100%;
}

#image_display {
    min-height: 300px;
    height: 70vh;
    width: 800px;
    margin: 1vh 0;
}

#display_container {
    height: 90%;
    width: 90%;
}

#carousel_button_container {
    width: 100%;
    flex-direction: row;
}

#carousel, #carousel_container, .image_container {
    height: 100px;
}

#carousel {
    width: 720px;
    margin: 8px 4px 0 4px;
}


#carousel_prev, #carousel_next {
    margin: 16px 0 0 0;
}

#carousel_prev_small, #carousel_next_small {
    display: none;
    padding: 0;

}

#carousel_prev, #carousel_next, #carousel_prev_small, #carousel_next_small {
    background-color: rgba(0,0,0,0);
    border: none;
}

#carousel_prev:focus, #carousel_next:focus, #carousel_prev_small:focus, #carousel_next_small:focus {
    outline: 0;
}

#carousel_container {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image_container {
    flex-basis: 16.6667%;
    display: none;
    flex-direction: column;
}

.image_select {
    max-height: 80%;
    max-width: 80%;
    flex-direction: column;
}

#display_container img {
    max-width: 100%;
    max-height: 100%;
}

.image_select img{
    max-height: 90px;
    max-width: 100%;
}

/*
 *      Responsive Design
 */


@media only screen and (max-width: 816px) {

    #image_display_flexbox {
        align-self: flex-start;
    }

    #image_display {
        min-height: 260px;
        height: 75vh;
        width: 96%;
        margin: .75vh 0;
    }

    #display_container {
        height: 94%;
        width: 94%;
    }

    #carousel, #carousel_container, .image_container {
        height: 80px;
    }

    #carousel {
        flex-basis: 80%;
        margin: 0;
    }

    #carousel_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #carousel_prev, #carousel_next {
        flex-basis: 5%;
        margin: 0;
    }

    .image_select img{
        max-height: 70px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) {

    #image_display {
        height: 89vh;
        width: 100%;
        margin: 0;
    }

    #display_container {
        height: 96%;
        width: 96%;
    }

    #carousel, #carousel_container, .image_container {
        height: 9vh;
    }

    #carousel {
        flex-basis: 90%;
    }

    #carousel_prev, #carousel_next {
        display: none;
    }

    #carousel_prev_small, #carousel_next_small {
        display: inline-flex;
    }

    .image_select img{
        max-height: 8.2vh;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) and (max-height: 720px)  {
    #carousel_prev_small, #carousel_next_small {
        width: 12px;
    }
}